/*-----------------------------------------------------------------------------------
    Custom
-----------------------------------------------------------------------------------*/

.single-partner {
    filter: grayscale(1);
}

/*-----------------------------------------------------------------------------------
    Mailchimp
-----------------------------------------------------------------------------------*/

#mc-embedded-subscribe-form {
    #mc-embedded-subscribe {
        margin-top: 30px;
    }
    #gdpr_188, #gdpr_189 {
        width: unset !important;
    }
    .mc-checkbox {
        display: flex;
        gap: 5px;
        margin-right: 30px;
        align-items: center;
        input {
            margin-bottom: unset !important;
        }
    }
    .content__gdpr, .content__gdprLegal, .content__gdprRequired {
        font-size: 13px;
    }
    .content__gdprRequired {
        margin-bottom: 13px;
    }
}